<body>
    <button type="button" class="btn1"(click)="home()"><b>BACK TO HOME</b></button>
<fieldset>
<div style="text-align: center;">

    <form [formGroup]="form" (ngSubmit)="onSubmitnotes(form.value)">
    
        
        <legend>Add notes to the task</legend>
        <h2> <b>Task ID:</b></h2>
        <input type="text" name="task_id"  formControlName="task_id"/>
        <h2> <b>Notes:</b></h2>
        <input type="text" name="notes"  formControlName="notes"/>

        <button type = "button" class= "btn"
        (click)="onSubmitnotes(form.value)">Add notes</button>
    
        
    </form>
    <br>
    <br>
    <br>
        
    </div>
</fieldset>
    <div *ngFor="let n of tasks">

    <h3>Added Notes is: {{n.notes}}</h3>
    </div>

    <br>
    <br>
    <br>
    <br>
    

</body>

