<body >

    <br/>
    
    <h1 >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  WELCOME TO TASK TRACKING SYSTEM       
    <button type="button" class="btn1"(click)="logout()"><b>LOGOUT</b></button></h1>
    <h2 >&nbsp;&nbsp;PERFORM THE ACTIONS BY USING THE OPTIONS<br></h2><br><br><br><br><br>
    <div style="text-align: center;">

        <table>
            <tr>
                <th>ADD NEW USER</th>
                <th><button type="button" class="btn"(click)="adduser()"><b>ADD USER</b></button></th>
        </tr>
        <tr>
            <th>ADD NEW TASK</th>
            <th><button type="button" class="btn"(click)="addtask()"><b>ADD TASK</b></button></th>
    </tr>

    <tr>
        <th>ADD NOTES TO TASK</th>
        <th><button type="button" class="btn"(click)="addnotes()"><b>ADD NOTES</b></button></th>
</tr>

<tr>
    <th>ADD BOOKMARK TO USER TASK</th>
    <th><button type="button" class="btn"(click)="addbookmark()"><b>ADD BOOKMARK</b></button></th>
</tr>

<tr>
    <th>DELETE THE TASK</th>
    <th><button type="button" class="btn"(click)="deletetask()"><b>DELETE TASK</b></button></th>
</tr>

<tr>
    <th>GET ALL TASKS</th>
    <th><button type="button" class="btn"(click)="gettask()"><b>GET TASK</b></button></th>
</tr>

<tr>
    <th>SEARCH THE TASKS USING TASK ID</th>
    <th><button type="button" class="btn"(click)="searchtask()"><b>SEARCH TASK</b></button></th>
</tr>

<tr>
    <th>ASSIGN THE TASK TO USER</th>
    <th><button type="button" class="btn"(click)="assigntask()"><b>ASSIGN TASK</b></button></th>
</tr>

<tr>
    <th>UPDATE THE TASK BY PRIORITY</th>
    <th><button type="button" class="btn"(click)="updatetask()"><b>UPDATE TASK PRIORITY</b></button></th>
</tr>

<tr>
    <th>TRACK THE TASK BY STATUS</th>
    <th><button type="button" class="btn"(click)="tracktask()"><b>TRACK TASK</b> </button></th>
</tr>
   
</table>
</div>
</body>